<html>
  <head>
    <title> strings </title>
  </head>
  <body>
    <%= 'hi' %></br>
    <%='hello ' + 'world'%></br>
    <%= 'hi ' << 'prasanna' %></br>
    <% p= 'hi this is ' << 'vodafone ' %>
    <%= p.concat(' mobile') %></br>
    <%= p.swapcase %></br>
    <%= p.capitalize %></br>
    <%= p.reverse %></br>
    <%= p.upcase %></br>
   
  </body>
</html>